.user {
  .user-header {
    background: #fff;
    padding: 16px 24px;
    font-feature-settings: "tnum";
    font-size: 14px;
    .title-text {
      margin-top: 12px;
      font-size: 16px;
      color: rgba(0,0,0,.85);
      font-weight: 700;
    }
  }
  .user-content {
    margin: 24px;
    padding: 24px;
    background: #fff;
    .query {
      //padding-bottom: 24px;
    }
    .list-operator {
      padding-bottom: 16px;
    }
  }
  .table-list {
    //margin-top: 20px;
  }
}
