@import '~antd/es/style/themes/default.less';

@global-header-prefix-cls: ~'@{ant-prefix}-pro-global-header ';

@pro-header-bg: @component-background;
@pro-header-hover-bg: #000f1f;
@pro-header-box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

.header-layout {
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
  //background: #ffffff;
  font-size: 20px;
  height: 64px;
  color: #dddfe0;
  margin-bottom: 1px;
  .header-layout-left {
    text-align: left;
    font-size: 20px;
    cursor: pointer;
  }
  .header-layout-right {
    font-size: 14px;
    float: right;
    height: 100%;
    overflow: hidden;
    text-align: right;
    color: #dddfe0;
    .action {
      display: inline-block;
      height: 100%;
      padding: 0 12px;
      cursor: pointer;
      transition: all 0.3s;
      color: #dddfe0;
      > i {
        color: #dddfe0;
        vertical-align: middle;
      }
      &:hover {
        background: @pro-header-hover-bg;
      }
      &:global(.opened) {
        background: @pro-header-hover-bg;
      }
    }
    .search {
      padding: 0 12px;
      &:hover {
        background: transparent;
      }
    }
    .account {
      .avatar {
        margin: ~'calc((@{layout-header-height} - 24px) / 2)' 0;
        margin-right: 8px;
        color: @primary-color;
        vertical-align: top;
        background: rgba(255, 255, 255, 0.85);
      }
    }
  }

}
